.create-quiz-card {
  width: 50vw;
  @media (max-width: 767px) {
    width: 90vw;
  }
}

.quiz-create-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-title {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffffff;
  border: 1px solid white;
}

.question_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
  @media (max-width: 920px) {
    grid-template-columns: repeat(1, auto);
  }
}

.delete_btn {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete_btn:hover {
  opacity: 0.7;
}
.delete-btn {
  width: 100%;
}

.delete-btn:hover {
  opacity: 0.8;
}

.question_count {
  font-weight: 700;
}

.quiz-create-form > .buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.buttons-container button {
  flex: 1;
  width: auto;
}

.question-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .question {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #ffffff;
    border: 1px solid white;
  }
}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem;
  border: .02rem solid rgb(255, 255, 255);
  border-radius: 1rem;
}

.add-option-btn {
  font-size: 1rem;
  border-radius: 0.2rem;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid white;

  .option {
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  .buttons-container > * {
    flex: 0 0 calc(33.333% - 1rem);
  }
}

.correct-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.input_check {
  height: 0.9rem;
}
